---
title: "Comment : créer des graphiques personnalisés dans les résultats d'un test de charge"
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: jillre
ms.author: jillfra
manager: jillfra
ms.openlocfilehash: 9012fbea21f552b8057278b37f5d336718c0269f
ms.sourcegitcommit: a8e8f4bd5d508da34bbe9f2d4d9fa94da0539de0
ms.translationtype: MT
ms.contentlocale: fr-FR
ms.lasthandoff: 10/19/2019
ms.locfileid: "72653576"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Guide pratique pour créer des graphiques personnalisés dans les résultats d’un test de charge

Vous pouvez concevoir des graphiques qui affichent des informations spécifiques à propos des résultats de test de charge. Vous concevez un graphique personnalisé en spécifiant les compteurs de test de charge que le graphique affichera.

Vous pouvez appliquer la procédure suivante pendant l'exécution d'un test de charge ou après.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Pour créer un graphique personnalisé sur les résultats d'un test de charge

1. Dans la barre d’outils **Test de charge**, choisissez **Ajouter un nouveau graphique**.

     \- ou -

     Dans **l’Analyseur de test de charge**, cliquez avec le bouton droit dans le volet **Compteurs** ou sur un graphique, puis sélectionnez **Ajouter un graphique**.

     La boîte de dialogue **Entrer le nom du graphique** s’affiche.

2. Sous **Nom du graphique**, tapez le nom du graphique, puis choisissez **OK**.

     Le nouveau graphique s’affiche dans **l’Analyseur de test de charge**. Il apparaît dans le panneau graphique sélectionné et remplace le graphique qui s'y trouvait précédemment.

3. Personnalisez le nouveau graphique en ajoutant des compteurs. Pour plus d’informations, consultez [Guide pratique pour ajouter et supprimer des compteurs sur des graphiques](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Voir aussi

- [Analyser les résultats des tests de charge dans la vue Graphiques](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Guide pratique pour ajouter et supprimer des compteurs sur des graphiques](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)